.square{
  color: white;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

@media only screen  and (min-width : 1224px) {
  .square {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    background: black;
    overflow: hidden;
  }
}

.square-content {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.square-overview .square-expand {
  margin-top: -500px;
    margin-left: -500px;
}

.square-lightbox:hover .square-lightbox-image {
  transform: scale(1.5) rotate(-15deg);
}

.square-lightbox:hover .square-expand {
  margin-top: 0;
    margin-left:0;
}

.square-lightbox:hover .square-overlay {
  opacity: 1;
}

.square-lightbox-image {
  transition: all 0.8s ease-in-out;
}

.square-overview a {
  font-size: 18px;
  color: #333;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}

.square-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: white;
  background: rgba(1,1,1,.5);
  -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.square-overview .square-expand {
  transition: all 0.8s ease-in-out;
}