.about-px{
  display: flex;
  justify-content: center;
  align-self: center;
  background-image: url(../../assets/about-bg.jpg);
  width: 100%;
}

.about-container {
  text-align: center;
	background: rgba(0,0,0,.5);
	width: 100%;
}

.about-container h3{
  padding-top: 60px;
  padding: 60px 80px 0px 80px;
	line-height: 1.5;
	color: white;
}

@media only screen  and (min-width : 1224px) {
  .parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}
@media only screen  and (max-width : 1223px) {
  .parallax {
    background-size: cover;
    background-repeat: none;
  }
}