.home {
	height: 200vh;
}

.services {
	height: 100vh;
}

.services-container {
	height: 100%;
}

.border-right {
	border-right: 1px dotted gray;
}

.border-left {
	border-left: 1px dotted gray;
}

.heading-home {
	padding-top: 80px; 
	padding-bottom:250px;
}

.margin-top {
	margin-top: 800px;
}

.pad-bottom {
	padding-bottom: 50px;
}

@media only screen and (max-width: 1223px){
	.heading {
		padding-bottom: 100px;
	}
	.services {
		height: 150vh;
	}
}