.home {
	height: 200vh;
}

.services {
	height: 100vh;
}

.services-container {
	background-color: red;
	display: flex;
	justify-content: center;
}

.services-container > .service-square{
	background: blue;
	width: 33%;
}

.heading {
  padding-bottom:90px;
}